html {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    min-width: 320px;
}

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 18px 120px;
    background-color: #1F2937;
    color: #f9faf8;
    font-size: 24px;
    border-bottom: 4px solid #273346
}

.header-logo {
    display: flex;
    justify-content: center;
    /* margin-left: auto;
    margin-right: auto; */
    flex-grow: 0;
    padding: 4px 0px;
    outline: none red 3px;
}

.header-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-grow: 0;
    column-gap: 18px;
    margin: 0;
    padding: 0;
    list-style: none;
    outline: none green 3px;
}

.header-links a {
    padding: 4px 0px;
    border-radius: 3px;
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.header-links a:hover {
    background-color: #273346;
    outline-width: 3px;
    outline: 4px solid #273346;
}

/* end of header styling */
/* YOU SHOULD MAKE A DIV AROUND THE TEXT AND IMAGE SEPARATE FROM THE BODY-ONE DIV SO YOU CAN SET LEFT AND RIGHT MARGINS. DO THIS ON THE ENTIRE PAGE TO GET AUTO MARGINS THAT STAY CONSISTENT THE WHOLE TIME. NEED TO DECIDE A FIXED CONTENT WIDTH TO MAKE EACH SECTION THE SAME */
.body-one {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 48px;
    /* padding: 120px; */
    background-color: #1F2937;
    color: #E5E7EB;
    font-size: 18px;
    outline: 3px solid red;
}

.body-one-content {
    display: flex;
    flex-wrap: wrap;
    outline: 4px solid hotpink;
    margin: 120px auto;
}

.body-one-text {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 350px;
    min-width: 200px;
    outline: solid green 3px;
}

h1 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
    padding: 0;
    margin: 0;
}

.body-one-text > p {

}

button {
    display: flex;
    width: 120px;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 6px 24px;
    background-color: #3882F6;
    border-radius: 6px;
    border: 1px solid transparent;
    color: #f9faf8;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}

button:hover {
    background-color:#4b8efa;
}

button:active {
    background-color:#2758a8;
}

.body-one-img {
    display: flex;
    justify-content: flex-end;
    align-self: flex-start;
    width: 500px;
    max-width: 100%;
    height: auto;
    object-fit: contain;
}